# This is sample file
# Never Add your personal data (API-KEY/TOKEN/SECRET/...) in this file
# MUST copy as .env, Then add your real API-KEY/TOKEN/SECRET in .env file
# Make sure no space between key=var, this will be critical when we use .env inside Makefile
KAGGLE_API_TOKEN="KGAT_..."